/*--------Basic--------*/

html, body
{
background: url('../images/background.png');
}

p
{
text-decoration:none;
font-family:Oxygen;
font-size:14px;
color:#EBFFEB;
}

h1
{
text-decoration:bold;
font-family:Oxygen;
font-size:20px;
color:#EBFFEB;
}

h2
{
text-decoration:bold;
font-family:Oxygen;
font-size:18px;
color:#EBFFEB;
}

h3
{
text-decoration:bold;
font-family:Oxygen;
font-size:16px;
color:#EBFFEB;
}

a
{
text-decoration:none;
font-family:Oxygen;
font-size:14px;
color:#DDAA00;
}

li ,ul
{
font-family:Oxygen;
font-size:14px;
color:#EBFFEB;
}

#content
{
position:absolute;
float:left;
left:150px;
}