/*--------Menu---------*/

#menu 
{
margin-top: -10px;
margin-left: -4px;
position: relative;
float: left;
width: 110px;
}

ul.menuitems, li.menuitem 
{
font-family: 'Oxygen', sans-serif;
list-style-type: none;
padding-top:2px;
padding-left:6px;
padding-right:4px;
padding-bottom:2px;
}

li.menuitem 
{
border: 1px solid black;
background: url('../images/background-mnu.png');
}

li.menuitem:hover
{
background: url('../images/background-a.png');
}

li.submenuitem 
{
border: 1px solid black;
background: url('../images/background-mnu.png');
font-family: 'Oxygen', sans-serif;
list-style-type: none;
padding-top:2px;
padding-left:12px;
padding-right:4px;
padding-bottom:2px;
}

li.submenuitem:hover 
{
background: url('../images/background-a.png');
}

#curritem 
{
background: url('../images/background-curr.png');
}

a.menuitem, a.submenuitem
{
text-decoration:none;
font-family:Oxygen;
font-size:14px;
color:#EBFFEB;
}