/*--------Basic--------*/

html, body{
background: #010101;
}

p, li, ul{
text-decoration:none;
font-family:Helvetica;
font-size:14px;
color:#EBFFEB;
}

h1, h2, h3{
text-decoration:bold;
font-family:Helvetica;
color:#EBFFEB;
padding-bottom:5px;
}

h1{font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}

a{
text-decoration:none;
font-family:Helvetica;
font-size:14px;
color:#DDAA00;
}

.content{padding: 12px 8px;}
/*-------MENU-------*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}
ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}